{
  "port": 3001,
  "billInfo": {
    "accounts": [
      { "name": "accountI",
        "minBalance": 50
      },
      { "name": "accountV",
        "minBalance": 1
      }
      ],
    "bills": [
      { "name": "billA",
        "paidFrom": "accountI",
        "shared": true
      },
      { "name": "billH",
        "paidFrom": "accountI",
        "shared": true
      },
      { "name": "billV",
        "paidFrom": "accountV",
        "shared": false
      },
      { "name": "Rent",
        "shared": true,
        "amount": 1234
      },
      { "name": "other",
        "shared": true
      }
      ],
    "partnerTo": "accountV",
    "partnerShare": 0.5
  },
  "urls": [
    "https://example.com/bank1",
    "https://example.com/bank2"
  ]
}