<html><head>
<title>Bill input</title>
</head><body>

<form method='post' action='/analysis'>

Bill A: <input type='text' name='billA'>
<br />
Bill H: <input type='text' name='billH'>
<br />
Bill V: <input type='text' name='billV'>
<br />
Shared V: <input type='text' name='sharedV'>
<br />
Other shared: <input type='text' name='other'>
<br />

<br />
Account I balance: <input type='text' name='accountI'>
<br />
Account V balance: <input type='text' name='accountV'>
<br />

<input type='submit' value='Submit'>

</form>

</body></html>